<html>
    <head></head>
    <title>Alunas</title>
        <body>
            <h1>Alunas</h1>
            <h3>Oi todas alunas!</h3>
            <p>Este é um paragráfo.</p>
            <p class="paragrafo1">Este é uma paragráfo com atributo.</p>
            <p>Este é um paragráfo com elemento especial.</p>

            <h2>Lista de alunos</h2>
            <ul>
                <li>Alessandro</li>
                <li>Adma</li>
                <li>Felipe</li>
            </ul>
            
            <ol>
                <li>Alessandro</li>
                <li>Adma</li>
                <li>Felipe</li>
            </ol>
            <img src="https://www.ilheus.ba.gov.br/css/images/logotipo.png" alt="logo_prefeitura_ilheus">
            <p></p>
            <a href="https://www.ilheus.ba.gov.br/">Prefeitura de Ilhéus</a>
        </body>

</html>